@{
    ViewData["Title"] = "Index";
}
@model List<ModelWithBrandDto>
<h1>Index-ModelWithBrandDto</h1>
 <div>
        <a asp-action="Save" asp-controller="Models" class="btn btn-info">Create New Model</a>
</div>
<br/>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>BrandId</td>
            <td>Brand</td>
            <td>Actions</td>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.BrandId</td>
                <td>@item.Brand.Name</td>
                <td>
                    <a asp-action="Update" asp-controller="Models" asp-route-id="@item.Id" class="btn btn-success">update</a>
                    <a asp-action="Remove" asp-controller="Models" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>